  <!-----------------Aqui comienza Conocimientos Complementarios--------------->

  <section id="complementarios">
    <div class="complementarios">
        <h2><img src="assets/img/Adquiridos.png" width="40px"> Conocimientos Complementarios</h2>

        <div class="contenedor-lista">
            <ul *ngFor="let comp of complementarios" class="lista-complementarios">
                <li>{{comp.itemA}}</li>
                <li>{{comp.itemB}}</li>
                <li>{{comp.itemC}}</li>
                <li>{{comp.itemD}}</li>
                <li>{{comp.itemE}}</li>
                <li>{{comp.itemF}}</li>
            </ul>
        </div>
    </div>
</section>
