  <!----------------Aqui comienza Conocimientos Informatica---------------->

  <section id="informatica" class="container-informatica">
    <div class="informatica">
        <h2><img src="assets/img/Informatica.png" width="40px"> Conocimientos Informáticos</h2>

        <ul *ngFor="let inf of informaticaList" class="lista-informatica">
            <li>{{inf.item1}}</li>
            <li>{{inf.item2}}</li>
            <li>{{inf.item3}}</li>
            <li>{{inf.item4}}</li>
            <li>{{inf.item5}}</li>
            <li>{{inf.item6}}</li>
            <li>{{inf.item7}}</li>
            <li>{{inf.item8}}</li>
        </ul>
    </div>

</section>
